<mat-card>Ingrese los datos del examen</mat-card>

<div class="example-container">

<mat-form-field style="padding-top: 15px;" class="example-full-width">
  <input type="text" placeholder="Numero de recibo" required aria-label="Assignee" matInput [formControl]="comprobante"
    [matAutocomplete]="auto">
  <mat-autocomplete (optionSelected)="onSelectionChanged($event)" #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let option of filteredOptions | async" [(value)]="option">
      {{option.numerorecibocomprobante}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-form-field style="width: 90%;">
  <input matInput placeholder="paciente" [(ngModel)]="paciente">
</mat-form-field>

<form  [formGroup]="form">

<div hidden="true">
  <mat-form-field>
    <input matInput placeholder="id" formControlName="idsecrecionesepmb">
  </mat-form-field>
</div>

  <mat-form-field>
    <mat-select placeholder="Servicio medico" required formControlName="denominacionserviciomedico" [(value)]="denominacionserviciomedico">
      <mat-option *ngFor="let p of servicios" [value]="p.denominacionserviciomedico">
        {{ p.denominacionserviciomedico }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 90%;">
    <input type="text" placeholder="Personal médico" required aria-label="Assignee" matInput [formControl]="personal"
      [matAutocomplete]="auto1">
    <mat-autocomplete (optionSelected)="onSelectionChanged1($event)" #auto1="matAutocomplete"
      [displayWith]="displayFn1">
      <mat-option *ngFor="let option of filteredOptions1 | async" [(value)]="option">
        {{option.nombrespersonalmedico}}, DNI: {{option.especialidad.nombreespecialidad}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Tipo" required formControlName="tipoSeleccionado">
      <mat-option *ngFor="let p of tipo" [value]="p">
        {{ p }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
  <input matInput placeholder="Indicaciones" required formControlName="indicaciones"
    type="string" >
  </mat-form-field>

  <mat-card>Examen directo</mat-card>

  <mat-form-field>
    <input matInput placeholder="Leucocitos" required formControlName="leucocitos"
      type="string" >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Hematies" required formControlName="hematies"
      type="string" >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="C. Epiteliales" required formControlName="cepiteliales"
      type="string" >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Trichonoma vaginalis" required formControlName="trichonomavaginalis"
      type="string" >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Formas fúngicas" required formControlName="formasfungicas"
      type="string" >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Gérmenes" required formControlName="germenes"
      type="string" >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Otros" required formControlName="otros"
      type="string" >
  </mat-form-field>

  <mat-card>Coloracion GRAM</mat-card>

  <mat-form-field>
    <input matInput placeholder="Leuc. Polimorfonucleares" required formControlName="leucgram"
      type="string" >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Bacilos Gramnegativos" required formControlName="bacilosgram"
      type="string" >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Bacilos cortos Gramnegativos" required formControlName="baciloscortosgram"
      type="string" >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Diplococos Gramnegativos" required formControlName="diplococosgram"
      type="string" >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Cocos Grampositivos" required formControlName="cocosgram"
      type="string" >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Lactobacilos" required formControlName="lactobacilosgram"
      type="string" >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Otros" required formControlName="otrosgram"
      type="string" >
  </mat-form-field>

  <mat-form-field style="width: 90%;">
    <input matInput placeholder="Observaciones" required formControlName="observaciones"
      type="string" >
  </mat-form-field>

  <mat-form-field>
      <input matInput [matDatepicker]="picker" required formControlName="fechaseleccionada" placeholder="Fecha" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
</form>
</div>
<div>
  <button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
  <button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>
</div>