<mat-card>Laboratorio clínico - exámenes generales</mat-card>
<div style="padding-top: 25px;">

  <form class="example-container" [formGroup]="form2" (ngSubmit)="agregar()">

      <mat-form-field class="example-full-width">
          <input type="text" placeholder="Numero de recibo" required aria-label="Assignee" matInput [formControl]="comprobante"
            [matAutocomplete]="auto">
          <mat-autocomplete (optionSelected)="onSelectionChanged($event)" #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [(value)]="option">
              {{option.numerorecibocomprobante}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
  </form>

  <mat-form-field style="padding-left: 25px; width: 50%;">
      <input matInput placeholder="paciente" [(ngModel)]="paciente">
  </mat-form-field>

  <form class="example-container" [formGroup]="form" (ngSubmit)="agregar()">

    <mat-form-field class="observacion">
      <input type="text" placeholder="Examen médico" required aria-label="Assignee" matInput [formControl]="examengeneral"
        [matAutocomplete]="auto1">
      <mat-autocomplete (optionSelected)="onSelectionChanged1($event)" #auto1="matAutocomplete"
        [displayWith]="displayFn1">
        <mat-option *ngFor="let option of filteredOptions1 | async" [(value)]="option">
          {{option.denominacion}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="resultado" >
      <textarea type="text" matInput formControlName="resultado" placeholder="Resultados" required></textarea>
    </mat-form-field>


    <mat-form-field class="observacion">
      <textarea type="text" matInput formControlName="observaciones" placeholder="Observaciones"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" required formControlName="fechaseleccionada" placeholder="Fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button class="agregar" color="primary" (click)="agregar()" type="button">
        <mat-icon>add</mat-icon>
        <span>Agregar</span>
      </button>
      <button mat-raised-button class="eliminar" color="warn" (click)="cancelar()" type="button">
          <mat-icon>cancel</mat-icon>
          <span>Terminar</span>
        </button>
  </form>



  <div>

    <mat-table class="example-container mat-elevation-z8" [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="examen">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Examen</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.examenesg.denominacion}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="resultado">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Resultado</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.resultado}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="observaciones">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.observaciones}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.fecha}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

  </div>

  <div style="padding-right: 50px">
    <button class="agregar" mat-fab style="float:right" (click)="pdf()">
      <mat-icon>picture_as_pdf</mat-icon>
    </button>
  </div>
</div>
<div style="padding: 50px;"></div>
<ngx-extended-pdf-viewer *ngIf="ex!=''" [src]="ex" useBrowserLocale="false" height="80vh">
</ngx-extended-pdf-viewer>
<link rel="ex" type="application/110n" href="https://www.example.com/locale/locale.properties"/> 