<mat-toolbar>Aglutinaciones - Antígenos febriles</mat-toolbar>

<div class="example-container mat-elevation-z8">

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar examen">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idaglutinacionaf">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idaglutinacionaf}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tiphicoO">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tiphico "O"</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.tiphicoO}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tiphicoH">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tiphico "H"</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.tiphicoH}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="paratiphicoA">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Paratiphico "A"</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.paratiphicoA}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="paratiphicoB">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Paratiphico "B"</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.paratiphicoB}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="brucella">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Brucella</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.brucella}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="observaciones">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.observaciones}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fecha}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombrespaciente">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.comprobantepago.paciente.nombrespaciente}} </mat-cell>
    </ng-container>    

    <ng-container matColumnDef="apellidospaciente">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.comprobantepago.paciente.apellidospaciente}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="hcl">
      <mat-header-cell *matHeaderCellDef mat-sort-header> HCL </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.comprobantepago.paciente.hcl}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">        
        <button mat-button color="primary" (click)="generatepdf()">
          <mat-icon>picture_as_pdf</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<br>

<button mat-fab color="accent" (click)="openDialog(row)" style="float: right; margin-right: 20px">
  <mat-icon>create</mat-icon>
</button>