<mat-toolbar>Hemograma</mat-toolbar>

<mat-form-field style="padding-top: 15px;padding-left: 25px;" class="example-full-width">
  <input type="text" placeholder="Numero de recibo" required aria-label="Assignee" matInput [formControl]="comprobante"
    [matAutocomplete]="auto">
  <mat-autocomplete (optionSelected)="onSelectionChanged($event)" #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let option of filteredOptions | async" [(value)]="option">
      {{option.numerorecibocomprobante}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-form-field style="width: 90%;padding-left: 25px;">
  <input matInput placeholder="paciente" [(ngModel)]="paciente">
</mat-form-field>

<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" >

<div hidden="true">
  <mat-form-field>
    <input matInput placeholder="id" formControlName="idhematograma">
  </mat-form-field>
</div>

<div>
  <mat-form-field class="field"> 
  <input matInput placeholder="Hematies" required formControlName="hematies"
    type="string" >
  </mat-form-field>

  <mat-form-field class="field">
    <input matInput placeholder="Leucocitos" required formControlName="leucocitos"
      type="string" >
  </mat-form-field>

  <mat-form-field class="field">
    <input matInput placeholder="Plaquetas" required formControlName="plaquetas"
      type="string" >
  </mat-form-field>
</div>
  <mat-card></mat-card>


<div>
  <mat-form-field class="field">
    <input matInput placeholder="Hemoglobina" required formControlName="hemoglobina"
      type="string" >
  </mat-form-field>

  <mat-form-field class="field">
    <input matInput placeholder="Hematocrito" required formControlName="hematocrito"
      type="string" >
  </mat-form-field>

  <mat-form-field class="field">
    <input matInput placeholder="Tiempo de coagulacion" required formControlName="tcoagulacion"
      type="string" >
  </mat-form-field>

  <mat-form-field class="field">
    <input matInput placeholder="Tiempo de sangria" required formControlName="tsangria"
      type="string" >
  </mat-form-field>

  <mat-form-field class="field">
    <input matInput placeholder="vsg" required formControlName="vsg"
      type="string" >
  </mat-form-field>

  <mat-form-field class="field">
    <input matInput placeholder="Grupo sanguineo" required formControlName="gruposanguineo"
      type="string" >
  </mat-form-field>

  <mat-form-field class="field">
    <input matInput placeholder="Factor RH" required formControlName="rh"
      type="string" >
  </mat-form-field>
</div>
  <mat-form-field style="padding-left: 25px;">
    <input matInput placeholder="observaciones" required formControlName="observaciones"
      type="string" >
  </mat-form-field>

<div>
  <mat-form-field class="field">
    <input matInput placeholder="Tipo" required formControlName="tipo"
      type="string" >
  </mat-form-field>

  <mat-form-field class="field">
      <input matInput [matDatepicker]="picker" required formControlName="fechaseleccionada" placeholder="Fecha" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>  
</form>

<div style="margin-bottom: 50px;padding-left: 25px;padding-right: 25px;">
  <button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
  <button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>
  <button style="float:right; margin-right: 15px" mat-raised-button color="primary" (click)="openDialog(hemo)">Hematograma completo</button>
</div>

<div class="example-container mat-elevation-z8">

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar examen">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idhematograma">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idhematograma}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fecha}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.tipo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombrespaciente">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.comprobantepago.paciente.nombresyapellidos}} </mat-cell>
    </ng-container>    

    <ng-container matColumnDef="hcl">
      <mat-header-cell *matHeaderCellDef mat-sort-header> HCL </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.comprobantepago.paciente.hcl}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">        
        <button mat-button color="primary" (click)="generatepdf(row)">
          <mat-icon>picture_as_pdf</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<br>
<div style="padding: 50px;"></div>
<ngx-extended-pdf-viewer *ngIf="hem!=''" [src]="hem" useBrowserLocale="false" height="80vh">
</ngx-extended-pdf-viewer>
<link rel="hem" type="application/110n" href="https://www.example.com/locale/locale.properties"/> 