<div class="example-container">

    <mat-form-field>
        <input matInput placeholder="hcl" [(ngModel)]="paciente.hcl">
      </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="DNI" [(ngModel)]="paciente.dnipaciente">
    </mat-form-field>
  
    <mat-form-field class="obs">
      <input matInput placeholder="Nombres" [(ngModel)]="paciente.nombresyapellidos">
    </mat-form-field>
    
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" [(ngModel)]="paciente.fechanacimientopaciente">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Departamento" [(ngModel)]="paciente.departamentopaciente">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Provincia" [(ngModel)]="paciente.provinciapaciente">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Distrito" [(ngModel)]="paciente.distritopaciente">
    </mat-form-field>

    <mat-form-field class="obs">
      <input matInput placeholder="Dirección" [(ngModel)]="paciente.direccionpaciente">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Teléfono" [(ngModel)]="paciente.telefonopaciente">
    </mat-form-field>

    <mat-form-field class="obs">
      <input matInput placeholder="Ocupación" [(ngModel)]="paciente.ocupacionpaciente">
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Estado civil" [(ngModel)]="paciente.estadocivilpaciente">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nivel de educación" [(ngModel)]="paciente.niveleducacionpaciente">
    </mat-form-field>
    
    <mat-form-field class="obs">
      <input matInput placeholder="Padre" [(ngModel)]="paciente.datospadrepaciente">
    </mat-form-field>
      
    <mat-form-field class="obs">
      <input matInput placeholder="Madre" [(ngModel)]="paciente.datosmadrepaciente">
    </mat-form-field>
  
     <mat-form-field>
      <mat-select placeholder="Tipo de paciente" [(value)]="idTipopacienteSeleccionado">
        <mat-option *ngFor="let p of tipopacientes" [value]="p.idtipopaciente">
          {{ p.tipopaciente }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
  </div>
  
  <button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
  <button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>